rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /spots/{document=**} {
      allow read, write: if true;
    }
    match /peixes/{document=**} {
      allow read, write: if true;
    }
  }
}
